<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Face Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" href="{% static 'face_detection_app/css/index.css' %}"> -->
  </head>
  <body>
      <h1 class = 'text-center'>Welcome to the face detection app!</h1>
      <h2 class = 'text-center'>Upload png File:</h2>
      <form class = 'form-group col-md-4 col-md-offset-4 text-center' action = '/upload' method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
          <input class = 'form-control' type='file' name='file'><br>
          <input class = 'btn btn-primary' type='submit' value='Upload'>
      </form><br><br>
      {% if messages %}
          {% for message in messages %}
              <p class = 'text-center'>{{message}}</p>
          {% endfor %}
      {% endif %}
  </body>
</html>
