<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Info</title>
  </head>
  <body>
    <a href = '/render_dashboard/{{this_user.id}}'>Dashboard </a><br>
    <a href = '/render_edit_profile/{{this_user.id}}'> Profile </a><br>
    <form action = '/logout' method = 'POST'>
      {%csrf_token%}
      <input type = "submit" value="Log off">
    </form><br><br>

    <h1>{{user.first_name}} {{user.last_name}}</h1><br>
    <p>Registered at: {{user.created_at}}</p>
    <p>User ID: #{{user.id}}</p>
    <p>Email address: {{user.email}}</p>
    <p>Description: {{user.description}}</p><br>

    <form action = '/post_message/{{user_wall.id}}/{{this_user.id}}' method='POST'>
      {%csrf_token%}
    Edit Description:  <textarea name="message" rows="10" cols="30"></textarea><br>
    </form>

    {%for message in messages%}
      {%if message.wall_id.id == user_wall.id%}
          <p>{{message.postman_id.first_name}} {{message.postman_id.last_name}} wrote    {{message.created_at}}<p>
          <p>{{message.message}}</p>
          {%for comment in comments%}
            {%if comment.message_id.id == message.id%}
              <p>{{comment.commenter_id.first_name}} {{comment.commenter_id.last_name}} wrote     {{comment.created_at}}</p>
              <p>{{comment.comment}}</p>
            {%endif%}
          {%endfor%}
          <form action = '/post_comment/{{message.id}}/{{user_wall.id}}/{{this_user.id}}' method='POST'>
            {%csrf_token%}
            Edit Description:  <textarea name="comment" rows="7" cols="20"></textarea><br>
          </form>
      {%endif%}
    {%endfor%}
  </body>
</html>
