<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Page</title>
  </head>
  <body>
    <form action = '/logout'>
      {%csrf_token%}
      <input type = "submit" value="Log out">
    </form><br><br>

    <a href = '/review_home'>Home</a><br><br>

    <h2>{{book.title}}</h2>
    <h3>{{book.author}}</h3>

    <h2>Reviews:</h2><br>
      {%for review in reviews%}
        <p>{{review.rating}}<p><br>
        <p><a href = '/render_user_page/{{review.user_id.id}}'>{{review.user_id.first_name}}</a> says: {{review.content}}<p><br>
        <p>Posted on {{review.created_at}}<p><br>
      {%endfor%}

    <h3>Add a Review</h3>
      <form action = '/add_review/{{book.id}}/{{user.id}}' method = 'POST'>
        {%csrf_token%}
        Review:  <textarea name="review" rows="10" cols="30">
        </textarea><br>
        Rating: <select name="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select><br>
            <input type = 'submit' value = "Submit Review">
      </form>
  </body>
</html>
