body{
  height: 620px;
  width: 1000px;
  background-color: silver;
}

.header{
  height: 65px;
  width: 1000px;
  margin-bottom: 10px;
  background-color: turquoise;
}

.header img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.header h1{
  display: inline-block;
  margin-top: 13px;
}

.header a{
  color: white;
  text-decoration: underline;
  display: inline-block;
  margin-right: 10px;
}

.leftLink{
  margin-left: 250px;
}

.main{
  height: 480px;
  width: 1000px;
  margin-bottom: 10px;
  background-color: yellow;
}

.side1box1, .side2{
  display: inline-block;
  height: 450px;
}

.side1box1, .box2, .box3, .box4{
  background-color:teal;
}

.side1box1{
  width: 200px;
  margin-left: 10px;
  margin-top: 13px;
}

.side2{

}
.box2{
  display: inline-block;
}

.footer{
  height: 65px;
  width: 1000px;
  background-color: turquoise;
}
