<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
    <a href = '/'>logout</a>
    <h1>Current Projects:</h1>
    <table>
      <tr>
        <th>Project Name</th>
        <th>Date Due</th>
        <th>Action</th>
      </tr>
      {%for project in current_projects%}
        <tr>
          <td>{{project['name']}}</td>
          <td>{{project['deadline']}}</td>
          <td> <a href = "/show/{{project['id']}}">details</a> | <a href = "/delete/{{project['id']}}">delete task</a> | <a href = "/complete/{{project['id']}}">complete task</a> </td>
        </tr>
      {%endfor%}
    </table><br><br>
    <form action = '/add_project'>
      <input type = 'submit' value = 'Add Project'>
    </form><br><br>

    <h1>Completed Projects:</h1>
    <table>
      <tr>
        <th>Project Name</th>
        <th>Date Due</th>
        <th>Date Completed</th>
        <th>Action</th>
      </tr>
      {%for project in completed_projects%}
        <tr>
          <td>{{project['name']}}</td>
          <td>{{project['deadline']}}</td>
          <td>{{project['dateCompleted']}}</td>
          <td> <a href = "/show/{{project['id']}}">details</a> </td>
        </tr>
      {%endfor%}
    </table>
  </body>
</html>
