<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
    <h2>Register</h2>
    <form action = '/reg' method = 'POST'>
      {% with messages = get_flashed_messages(category_filter=["first_name"]) %}
        {% if messages %}
          {%for message in messages%}
            {{message}}
          {%endfor%}
        {%endif%}
      {%endwith%}<br>
      First Name: <input type = 'text' name = 'first_name'><br><br>
      {% with messages = get_flashed_messages(category_filter=["last_name"]) %}
        {% if messages %}
          {%for message in messages%}
            {{message}}
          {%endfor%}
        {%endif%}
      {%endwith%}<br>
      Last Name: <input type = 'text' name = 'last_name'><br><br>
      {% with messages = get_flashed_messages(category_filter=["email1"]) %}
        {% if messages %}
          {%for message in messages%}
            {{message}}
          {%endfor%}
        {%endif%}
      {%endwith%}<br>
      {% with messages = get_flashed_messages(category_filter=["email2"]) %}
        {% if messages %}
          {%for message in messages%}
            {{message}}
          {%endfor%}
        {%endif%}
      {%endwith%}<br>
      Email: <input type = 'text' name = 'email'><br><br>
      Date of Birth: <input type = 'date' name = 'birthday'><br><br>
      {% with messages = get_flashed_messages(category_filter=["password"]) %}
        {% if messages %}
          {%for message in messages%}
            {{message}}
          {%endfor%}
        {%endif%}
      {%endwith%}<br>
      Password: <input type = 'password' name = 'password'><br><br>
      Confirm Password: <input type = 'password' name = 'confirm_password'><br><br>
      <input type = 'submit' value = 'Register'>
    </form><br><br>

    <form action = '/login' method = 'POST'>
      Email: <input type = 'text' name = 'email'><br><br>
      Password: <input type = 'password' name = 'password'><br><br>
      <input type = 'submit' value = 'Log-in'>
    </form>
  </body>
</html>
