<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_app/css/field.css' %}" media="screen" title="no title"  charset="utf-8">
    <script type="text/javascript" src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $.ajax({
          url:'http://www.pokeapi.co/media/img/1.png',
          method: 'get',
          success: function(serverResponse){
            console.log(serverResponse)
          }
        })
        // for(var i = 1; i<=151; i++){
        //   $(".icons").append("<img id="+i+" src='http://www.pokeapi.co/media/img/"+i+".png'>");
        //
        // }

        $(document).on('click','img', function(){

          // $('.pokedex').removeClass('pokedex_block').addClass('pokedex_block');
          // $('.pokedex').append("<div class = 'pokedex_block'></div>");

          $.ajax({
            url:'/login_reg/collect',
            method: 'post',
            data: $(this).attr('id'),
            success: function(serverResponse){
              console.log('hello')
            }
          });
          // $.get('http://pokeapi.co/api/v1/pokemon/'+selector+'/', function(res) {
          //     console.log(res);
          //
          //     var html_pokename = "<h1>" + res.name + "</h1>";
          //
          //     var html_poketypelist="";
          //     html_poketypelist+="<h4>Types</h4>";
          //     html_poketypelist += "<ul>";
          //     for(var x=0;x<res.types.length;x++){
          //       html_poketypelist+="<li>"+res.types[x].name+"</li>";
          //     }
          //     html_poketypelist+="</ul>";
          //
          //     html_pokeheight="";
          //     html_pokeheight+="<h4>Height</h4>";
          //     html_pokeheight+="<p>"+res.height+"</p>";
          //
          //     html_pokeweight="";
          //     html_pokeweight+="<h4>Weight</h4>";
          //     html_pokeweight+="<p>"+res.weight+"</p>";
          //
          //     $('.pokedex_block').html(html_pokename+"<img src='http://www.pokeapi.co/media/img/"+selector+".png'>" + html_poketypelist+html_pokeheight+html_pokeweight);
          //
          //
          // }, "json");
        });

      });

      //<h1>res.name</h1>
      //<img src='http://www.pokeapi.co/media/img/'+selector+'.png'>
      //<ul>Types
      //  <li>....
      //</ul>
      //<h4>Height</h4>
      //  <p>res.height<p>
      //<h4>Weight</h4>
      //  <p>res.weight</p>
    </script>
  </head>
  <body>
    <div class="icons">
    </div>

    <div class = "pokedex">
    </div>
  </body>
</html>
