<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
      $(document).ready(function (){
        var socket = io.connect();
        $('form').submit(function(e){
          console.log($('#comment')[0].value);
          socket.emit("submit", {name: $('#name')[0].value, location: $('#location')[0].value, language: $('#language')[0].value, comment:$('#comment')[0].value});
          e.preventDefault();
        });
        socket.on('message_append', function (data){
          $('body').append("<div class = 'info'><p> You emitted the following information to the server: {name: "+ data.name + ", location: " + data.location+", language: " + data.language +", comment: "+ data.comment+"}</p>\
                                                <br><p>Your lucky number emitted by the server is " + data.rand_num + "</p></div>");
        })
      })
    </script>
  </head>
  <body>
    <form>
        Your Name: <input id = 'name' type='text' name='name'><br>
        Dojo Location:
          <select name='location' id='location'>
            <option value = "San Jose">San Jose</option>
            <option value = "Yo Momma's Kitchen">Yo Momma's Kitchen</option>
          </select><br>
        Favorite Language:
          <select name='language' id='language'>
            <option value = "Python">Python</option>
            <option value = "Chinese">Chinese</option>
          </select><br>
        Comments (optional):
          <textarea id= 'comment' name = "comment"></textarea><br>
        <input type='submit' value='create user'>
      </form>
  </body>
</html>
