<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wall</title>
  </head>
  <body>
    <h3>CodingDojo Wall</h3>
    <p>Welcome {{user[0]['first_name']}}</p><br>
    <a href = '/logout'>Log off</a><br><br>

    <form action = '/post_message' method = 'POST'>
      <p>Post a message</p>
      <textarea rows="4" cols="50" name = 'message'></textarea><br><br>
      <input type = 'submit' value = "Post a message">
    </form><br><br>

    {%for message in messages%}
      <p><b>{{message['message_user_fn']}} {{message['message_user_ln']}} - {{message['message_created_at']}}</b>
        {%if session['user_id'] == message['message_user']%}<a href = "/remove_message/{{message['message_primary_id']}}">delete</a>{%endif%}</p>
      <p>{{message['message_content']}}</p>
      {%for comment in message['comments']%}
        <p><b>{{comment['fn']}} {{comment['ln']}} - {{comment['created_at']}}</b></p>
        <p>{{comment['content']}}</p>
      {%endfor%}
      <form action = "/post_comment/{{message['message_primary_id']}}" method = 'POST'>
        <p>Post a comment</p>
        <textarea rows = '2' cols = '25' name = 'comment'></textarea><br><br>
        <input type = 'submit' value = 'Post a comment'>
      </form><br><br>
    {%endfor%}
  </body>
</html>
