body{
  height: 600px;
  width: 1000px;
  background-color:whitesmoke;
}

.header{
  list-style-type:none;
  height:25px;
  width:1000px;
  padding-left: 0px;
  margin-bottom: -8px;
}

.header li{
  display: inline;
  color: red;
}

.normal{
  margin-right: 31.9px;
}

.closer{
  margin-right: 23.5px;
}

.fissure{
  padding-right:6px;
}


.sideNum{
  height: 360px;
  width: 45px;
  display: inline-block;
  vertical-align: top;
}

.sideNum ul{
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  color:red;
}

.sideNum li{
  margin-bottom: 27px;
  padding-left: 18px;
  margin-top: 20px;
}

.main-table{
  display: inline-block;
  width: 950px;
  height: 360px;
}

.leftBlue{
  display:inline-block;
  height:380px;
  width:100px;
  vertical-align: top;
}

.Li{
  width: 40px;
  height: 40px;
  background-color: blue;
  display: inline-block;
  margin-top: 30px;
  margin-left: 15px;
}

.blankBlock{
  background-color: whitesmoke;
  display:inline-block;
  width: 40px;
  height: 40px;
}

.blueBlock{
  margin-left: 15px;
  width: 40px;
  height: 40px;
  background-color: blue;
  display: inline-block;
}

.blueBlock2{
  display:inline-block;
  width: 40px;
  height: 40px;
  background-color: blue;
}
.middleRed{
  display: inline-block;
  width: 445px;
  height: 380px;
  margin-left: 7px;
  vertical-align: top;
}

.topRowRedBox1{
  width: 40px;
  height: 40px;
  margin-left: 6px;
  margin-top: 162px;
  display: inline-block;
  background-color: red;
}

.topRowRedBox{
  width: 40px;
  height: 40px;
  margin-top: 162px;
  display: inline-block;
  background-color: red;
}

.leftRedBox{
  width: 40px;
  height: 40px;
  margin-left: 6px;
  display: inline-block;
  background-color: red;
}

.redBox{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: red;
}

.yellowRight{
  width: 270px;
  display: inline-block;
  height: 380px;
}

.yBox1{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: yellow;
  margin-left: 217px;
  margin-top: 30px;
}


.yBoxCol1{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: yellow;
  margin-left: -3px;
}

.yBox{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: yellow;
}

.bottomBlock{
  width: 750px;
  height: 120px;
  margin-top: 0px;
  margin-left: 45px;
}

.bottomBlock p{
  color: red;
  display: inline;
}

.Llabel{
  margin-right: 22px;
}

.Alabel{
  margin-right:31px;
}

.asterisk{
  margin-right: -4px;
}

.greenBlock{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: green;
}
