<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myDogs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38F080F61E8F180C00B0FC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F0810D1E8F181300B0FC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F081181E8F181400B0FC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
