@charset "UTF-8";

h1{
	text-align:center;
}

.board{
	margin-left: 10%;
	margin-right: 10%;
	width: 600px;
	height:300px;
/* 	background-color: brown; */
}

.col{
	width: 60px;
	height: 300px;
	display:inline-block;
	margin-right: -5px;
}

.red-block{
	width:60px;
	height:60px;
	background-color: red;
}

.blue-block{
	width:60px;
	height:60px;
	background-color: blue;
}