<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A web page</title>
  </head>
  <body>
    <form action = '/courses/add_user_course' method = 'POST'>
      {% csrf_token %}
      <select name = 'user'>
      {%for user in users%}
        <option value = '{{user.first_name}}'>{{user.first_name}} {{user.last_name}}</option>
      {%endfor%}
      </select>

      <select name = 'course'>
      {%for course in courses%}
        <option value = '{{course.name}}'>{{course.name}}</option>
      {%endfor%}
      </select>
      <input type = 'submit' value = 'Add User to Course'>
    </form><br><br>

    <table>
      <tr>
        <th>Course</th>
        <th>Title</th>
        <th>Number of Users</th>
      </tr>
      {%for course in courses%}
      <tr>
        <td>{{course.id}}</td>
        <td>{{course.name}}</td>
        <td>{{course.user_count}}</td>
      </tr>
      {%endfor%}
    </table><br><br>

    <a href = '/courses/'>Return home</a>

  </body>
</html>
