<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Elephant Info</title>
  </head>
  <body>

    <h1>Name: <%= elephant[0].name%></h1><br>
  </h3>Age: <%= elephant[0].age%></h3><br><br>
  <a href = '/elephant/edit/<%= elephant[0].id%>'><button type="button">Edit Info</button></a>
  <a href = '/elephant/destroy/<%= elephant[0].id%>'><button type="button">Delete</button></a>
  </body>
</html>
