<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="layout.css">
    <title>Layout</title>
  </head>
  <body>
    <div class = 'header'>
      <h2>Header</h2>
      <h3>Subtitle</h3>
    </div>

    <div class = 'navbar'>
      <ul>
        <li><a>Home</a></li>
        <li><a>About Us</a></li>
        <li><a>Contact Us</a></li>
        <li><a>Videos</a></li>
        <li><a>Pricing</a></li>
        <li><a>Something</a></li>
        <li><a>Something more...</a></li>
        <li><a>Something even more...</a></li>
      </ul>
    </div>

    <div class = 'main-content'>
      <div class = 'ipsum-block'>
        <h4>Coffee</h4>
        <p>Lion! Fan luv. They key is to have every key, the key to open every door. Hammock talk come soon. The key to success is to keep your head above the water, never give up. Mogul talk. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. The key to more success is to get a massage once a week, very important,</p>
      </div>
      <div class = 'ipsum-block'>
        <h4>Tea</h4>
        <p>Lion! Fan luv. They key is to have every key, the key to open every door. Hammock talk come soon. The key to success is to keep your head above the water, never give up. Mogul talk. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. The key to more success is to get a massage once a week, very important,</p>
      </div>
      <div class = 'ipsum-block'>
        <h4>LionJuice</h4>
        <p>Lion! Fan luv. They key is to have every key, the key to open every door. Hammock talk come soon. The key to success is to keep your head above the water, never give up. Mogul talk. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. The key to more success is to get a massage once a week, very important,</p>
      </div>
      <div class = 'ipsum-block'>
        <h4>Jungly</h4>
        <p>Lion! Fan luv. They key is to have every key, the key to open every door. Hammock talk come soon. The key to success is to keep your head above the water, never give up. Mogul talk. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. The key to more success is to get a massage once a week, very important,</p>
      </div>
    </div>

  </body>
</html>
