<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey Index</title>
  </head>
  <body>
    <!-- read on to learn about form actions, we'll talk about the method in a later section -->
    <form action='/result' method='post'>
        Your Name: <input type='text' name='name'><br>
        Dojo Location:
          <select name='location'>
            <option value = "San Jose">San Jose</option>
            <option value = "Yo Momma's Kitchen">Yo Momma's Kitchen</option>
          </select><br>
        Favorite Language:
          <select name='language'>
            <option value = "Python">Python</option>
            <option value = "Chinese">Chinese</option>
          </select><br>
        Comments (optional):
          <textarea name = "comment"></textarea><br>
        <input type='submit' value='create user'>
      </form>
  </body>
</html>
