<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login/Reg</title>
  </head>
  <body>
    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login/Registration</title>
  </head>
  <body>
    {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    {% endif %}
    {{error3}} {{error4}} {{error5}} {{error6}} {{error7}}
      <h2>Register</h2>
        <form action='/reg' method='POST'>
          {%csrf_token%}
          First Name:<input type="text" name='first_name'><br><br>
          Last Name:<input type="text" name="last_name"><br><br>
          Email:<input type="text" name="email"><br><br>
          Birthday:<input type = 'date' name = 'birthday'><br><br>
          Password:<input type="password" name="password"><br><br>
          Confirm Password:<input type="password" name="pconf"><br><br>
          <input type="submit" value="Create">
        </form>

      {{error8}}
      <h2>Log-in (for users already registered)</h2>
        <form action = '/login', method = 'POST'>
          {%csrf_token%}
          Email: <input type='text' name='email'><br><br>
          Password: <input type='password' name='password'><br><br>
          <input type = "submit" value="Log-in">
        </form>

  </body>
</html>
  </body>
</html>
