
<div class="divTableHeading"></div>
<div class="divTableBody">
{%for lead in leads%}
  <form action = '/edit_lead/{{lead.id}}' method = 'POST' id = 'edit_lead_form{{lead.id}}'>
    <div class="divTableRow">
      {% csrf_token %}
      <div class="divTableCell">{{lead.id}}</div>
      <div class="divTableCell"><input type = 'text' name = 'first_name' value = '{{lead.first_name}}' id = 'edit_lead' class = '{{lead.id}}'></div>
      <div class="divTableCell"><input type = 'text' name = 'last_name' value = '{{lead.last_name}}' id = 'edit_lead' class = '{{lead.id}}'></div>
      <div class="divTableCell">{{lead.registered_datetime}}</div>
      <div class="divTableCell"><input type = 'text' name = 'email' value = '{{lead.email}}' id = 'edit_lead' class = '{{lead.id}}'></div>
    </div>
  </form>
{%endfor%}
  <form action = '/new_lead' method = 'POST' id = 'new_lead_form'>
    <div class="divTableRow">
      {% csrf_token %}
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell"><input type = 'text' name = 'first_name' id = 'new_lead' class = 'new_lead_fn'></div>
      <div class="divTableCell"><input type = 'text' name = 'last_name' id = 'new_lead' class = 'new_lead_ln'></div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell"><input type = 'text' name = 'email' id = 'new_lead' class = 'new_lead_e'></div>
    </div>
  </form>
</div>
