<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leads AJAX example</title>
    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script>

      $(document).ready(function(){
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $(document).on('keyup', '#new_lead', function(){
          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
          $.ajax({
            url: '/new_lead',
            method: 'post',
            data: $('#new_lead_form').serialize(),
            success: function(serverResponse){
              if(serverResponse.length >= 20){
                $('.new_lead_fn').val('')
                $('.new_lead_ln').val('')
                $('.new_lead_e').val('')
                $('table').after(serverResponse)
              }
            }
          });
        });

        $(document).on('keyup', '#edit_lead', function(){
          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
          $.ajax({
            url: '/edit_lead/'+$(this).prop('className'),
            method: 'post',
            data: $('#edit_lead_form'+$(this).prop('className')).serialize(),
            success: function(serverResponse){
              console.log(serverResponse)
            }
          });
        });

        $('#filter').keyup(function(){

          $.ajax({
            url: '/filter',
            method: 'post',
            data: $(this).parent().serialize(),
            success: function(serverResponse){
              $('table').html('')
              $('table').html('<thead><th>leads_id</th><th>first name</th><th>last name</th><th>registered_datetime</th><th>email</th></thead>'+serverResponse)
            }
          })
        });

      });
    </script>
  </head>
  <body>
    <form action = '/filter' method = 'POST'>
      {% csrf_token %}
      Name:  <input type = 'text' name = 'first_name' id = 'filter'>
      From: <input type = 'date' name = 'from' id = 'filter'>
      To: <input type = 'date' name = 'to' id = 'filter'>
    </form><br><br>

    <table>
      <thead>
        <th>leads_id</th>
        <th>first name</th>
        <th>last name</th>
        <th>registered_datetime</th>
        <th>email</th>
      </thead>
    {%for lead in leads%}
    <form action = '/edit_lead/{{lead.id}}' method = 'POST' id = 'edit_lead_form{{lead.id}}'>
        <tr>
          {% csrf_token %}
          <td>{{lead.id}}</td>
          <td><input type = 'text' name = 'first_name' value = '{{lead.first_name}}' id = 'edit_lead' class = '{{lead.id}}'></td>
          <td><input type = 'text' name = 'last_name' value = '{{lead.last_name}}' id = 'edit_lead' class = '{{lead.id}}'></td>
          <td>{{lead.registered_datetime}}</td>
          <td><input type = 'text' name = 'email' value = '{{lead.email}}' id = 'edit_lead' class = '{{lead.id}}'></td>
        </tr>
      </form>
    {%endfor%}
      <form action = '/new_lead' method = 'POST' id = 'new_lead_form'>
        <tr>
          {% csrf_token %}
          <td></td>
          <td><input type = 'text' name = 'first_name' id = 'new_lead' class = 'new_lead_fn'></td>
          <td><input type = 'text' name = 'last_name' id = 'new_lead' class = 'new_lead_ln'></td>
          <td></td>
          <td><input type = 'text' name = 'email' id = 'new_lead' class = 'new_lead_e'></td>
        </tr>
      </form>
    </table>
  </body>
</html>
