<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Elephant</title>
  </head>
  <body>
    <form action = '/elephants' method = post>
      Name: <input type = 'text' name = 'name'><br><br>
      Age: <input type = 'text' name = 'age'><br><br>
      <input type = 'submit' value = 'Create Elephant'/>
    </form><br>
  </body>
</html>
