<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AJAX demo</title>
    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <link rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script>
      $(document).ready(function(){
        $('#button_json').click(function(){
          console.log('button_json is clicked')
          $.ajax({
            url: '/all.json',
            success: function(serverResponse){
              console.log('success, serverResponse:', serverResponse)
              $('#placeholder1').html(JSON.stringify(serverResponse))
            }
          })
        });

        $('#button_html').click(function(){
          console.log('button_html is clicked')
          $.ajax({
            url: '/all.html',
            success: function(serverResponse){
              console.log('success, serverResponse:', serverResponse)
              $('#placeholder1').html(serverResponse)
            }
          })
        });

        $('#ajax_first_name').keyup(function(){
          console.log('came here')
          $.ajax({
            url: '/user_login/find',
            method: 'post',
            data: $(this).parent().serialize(),
            success: function(serverResponse){
              console.log('success', serverResponse)
              $('#placeholder2').html(serverResponse)
            }
          })
        });

        $('#create_user_ajax_form').submit(function(e){
          e.preventDefault()
          console.log('came here')
          $.ajax({
            url: '/user_login/create',
            method: 'post',
            data: $(this).serialize(),
            success: function(serverResponse){
              console.log('success', serverResponse)
              $('#placeholder3').html(serverResponse)
            }
          })

        });


      });
    </script>
  </head>
  <body>
    <h1>Demo 1</h1>
    <button class = 'btn btn-primary' id = 'button_json'>Fetch HttpResponse from user_login/all.json</button>
    <button class = 'btn btn-primary' id = 'button_html'>Fetch HttpResponse from user_login/all.html</button>

    <div id = 'placeholder1'>Placeholder for AJAX content</div>

    <h1>Demo 2</h1>
    <form action = '/user_login/find' method = 'POST'>
      {% csrf_token %}
      Find all users whose first name starts with
      <input type = 'text' name = 'first_name_starts_with' id = 'ajax_first_name'>
    </form>

    <div id = 'placeholder2'>Placeholder2</div>

    <h1>Demo 3</h1>
    <form action = '/user_login/create' method = 'POST' class = 'ajax_form' id = 'create_user_ajax_form'>
      {% csrf_token %}
      First name: <input type = 'text' name = 'first_name'>
      Last name: <input type = 'text' name = 'last_name'>
      Email: <input type = 'text' name = 'email'>
      <input type = 'submit' value = 'submit'>
    </form>

    <div id = 'placeholder3'>Placeholder3</div>
  </body>
</html>
